<div class="container text-center">
  <h1 class="mt-5">Who’s That Pokémon?</h1>
  <div *ngIf="loading && !finishQuiz" aria-live="polite">
    <ng-container *ngFor="let pokemon of response?.results">
      <article *ngIf="pokemon.correctAnswer" class="imageContainer">
        <div
          *ngIf="imageLoader"
          class="spinner-border text-primary"
          role="status"
          aria-label="Loading image, please wait"
        ></div>
        <img
          (load)="onImageLoad()"
          [ngClass]="[!answerClicked ? 'pokemonImg' : '']"
          src="{{
            'https://img.pokemondb.net/sprites/home/normal/' +
              pokemon.name +
              '.png'
          }}"
          alt="Pokemon image"
        />
      </article>
    </ng-container>
    <section class="row">
      <div *ngFor="let pokemon of response?.results" class="mt-2 col-md-12">
        <button
          [ngClass]="[
            answerClicked && pokemon.correctAnswer ? 'btn-success' : '',
            pokemon.status && !pokemon.correctAnswer ? 'btn-danger' : ''
          ]"
          [disabled]="answerClicked"
          (click)="clickAnswer(pokemon)"
          type="button"
          class="btn btn-secondary btn-lg btnPokemon"
          [attr.aria-label]="'Select Pokémon ' + pokemon.name"
        >
          {{ pokemon.name | titlecase}}
        </button>
      </div>
      <section class="mt-5 col-md-2">
        <h4 aria-live="polite">
          Score: <span id="correctCount">{{ correctAnswered }}</span
          >/<span id="totalCount">{{ totalAttempted }}</span>
        </h4>
      </section>
      <section class="mt-5 col-md-2 offset-md-2">
        <button
          type="button"
          [disabled]="!answerClicked"
          class="btn btn-primary btn-lg"
          (click)="nextPokemon()"
          aria-label="Go to the next Pokémon"
        >
          NEXT
        </button>
      </section>
      <section class="mt-5 mb-5 col-md-2">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="restartQuiz()"
          aria-label="Restart the quiz"
        >
          RESTART
        </button>
      </section>
    </section>
    <div *ngIf="showError" class="alert alert-danger" role="alert" aria-live="assertive">
      Something Went Wrong !
    </div>
  </div>
  <section *ngIf="finishQuiz" aria-live="polite">
    <div class="mt-5 alert alert-success" role="alert">
      <b>Your Score: {{ correctAnswered }}/{{ totalAttempted }}</b>&nbsp;&nbsp;
      "Ready to play again? Click 'Restart' to dive back into the game!"
    </div>
    <div class="mt-5 mb-5 col-md-1">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="restartQuiz()"
        aria-label="Restart the game"
      >
        RESTART
      </button>
    </div>
  </section>
</div>
